body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #111;
    color: #FFF;
}

#d {
    margin-top: 2rem;
}

canvas {
    margin-top: 2rem;
}